image:
  name: quay.io/podman/stable

before_script:
  - podman -r login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN

build_latest:
  stage: build
  only:
  - web
  script:
    - podman -r pull $CI_REGISTRY_IMAGE:latest ||true
    - podman -r pull "$(cat Dockerfile |grep -EI '^FROM' |cut -d' ' -f2)"
    - |
      podman -r build --build-arg PARALLEL=6 \
      --network=host --cache-from $CI_REGISTRY_IMAGE \
      -t $CI_REGISTRY_IMAGE:${CI_PIPELINE_CREATED_AT//:/.} .
    - podman -r tag $CI_REGISTRY_IMAGE:${CI_PIPELINE_CREATED_AT//:/.} $CI_REGISTRY_IMAGE:latest
    - podman -r push $CI_REGISTRY_IMAGE:${CI_PIPELINE_CREATED_AT//:/.}
    - podman -r push $CI_REGISTRY_IMAGE:latest
